<div class="container mt-5">

    <div class="card shadow-lg">

        <div class="card-header bg-dark text-white text-center">
            <h2 class="mb-0">Menú Sesión</h2>
        </div>

        <div class="card-body">

            <div class="list-group">

                <a asp-controller="Empleados"
                   asp-action="SessionSalarios"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

                    <span class="fw-semibold">
                        Gestión de salarios en sesión
                    </span>

                    <span class="badge bg-primary rounded-pill">
                        Ir →
                    </span>

                </a>

            </div>
            <div class="list-group">

                <a asp-controller="Empleados"
                   asp-action="SessionEmpleados"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

                    <span class="fw-semibold">
                        Gestión de empleados en sesión
                    </span>

                    <span class="badge bg-primary rounded-pill">
                        Ir →
                    </span>

                </a>

            </div>
            <div class="list-group">

                <a asp-controller="Empleados"
                   asp-action="SessionEmpleadosObj"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

                    <span class="fw-semibold">
                        Gestión de ids empleados en sesión
                    </span>

                    <span class="badge bg-primary rounded-pill">
                        Ir →
                    </span>

                </a>

            </div>
            <div class="list-group">

                <a asp-controller="Empleados"
                   asp-action="SessionEmpleadosV4"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

                    <span class="fw-semibold">
                        Gestión de  empleados en sesión v4
                    </span>

                    <span class="badge bg-primary rounded-pill">
                        Ir →
                    </span>

                </a>

            </div>
            <div class="list-group">

                <a asp-controller="Empleados"
                   asp-action="SessionEmpleadosV5"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

                    <span class="fw-semibold">
                        Gestión de  empleados en sesión v5
                    </span>

                    <span class="badge bg-primary rounded-pill">
                        Ir →
                    </span>

                </a>

            </div>
            <div class="list-group">

                <a asp-controller="Empleados"
                   asp-action="EmpleadosFavoritos"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

                    <span class="fw-semibold">
                        Gestión de  empleados favortiros
                    </span>

                    <span class="badge bg-primary rounded-pill">
                        Ir →
                    </span>

                </a>

            </div>

        </div>

    </div>

</div>